<!-- <a href="https://twitter.com/rayhightower"><i name="twitter" class="fa fa-twitter-square fa-lg"></i></a> -->
<a href="https://twitter.com/rayhightower" class="fa fa-twitter-square fa-lg"></a>
<a name="github" href="https://github.com/rayhightower"><i class="fa fa-github-square fa-lg"></i></a>
<a name="linkedin" href="https://linkedin.com/in/rayhightower"><i class="fa fa-linkedin-square fa-lg"></i></a>
<a name="facebook" href="https://facebook.com/RayHightower"><i class="fa fa-facebook-square fa-lg"></i></a>
<a name="youtube" href="https://youtube.com/RayHightower"><i class="fa fa-youtube-square fa-lg"></i></a>
