<!-- <a href="https://twitter.com/rayhightower"><i name="twitter" class="fa fa-twitter-square fa-lg"></i></a> -->
<a href="https://twitter.com/rayhightower" class="fa fa-twitter-square fa-lg">
    <span style="font-size: 0;">Twitter</span>
</a>
<a name="github" href="https://github.com/rayhightower" class="fa fa-github-square fa-lg">
    <span style="font-size: 0;">Github</span>
</a>
<a name="linkedin" href="https://linkedin.com/in/rayhightower" class="fa fa-linkedin-square fa-lg">
    <span style="font-size: 0;">LinkedIn</span>
</a>
<a name="facebook" href="https://facebook.com/RayHightower" class="fa fa-facebook-square fa-lg">
    <span style="font-size: 0;">Facebook</span>
</a>
<a name="youtube" href="https://youtube.com/RayHightower" class="fa fa-youtube-square fa-lg">
    <span style="font-size: 0;">Youtube</span>
</a>
